.balatro-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.balatro-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
